<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>XXX_TITLE</title>
    <link rel="icon" href="../../image/tsumugi-favicon.ico" />

    <!-- ============================= -->
    <!-- JS -->
    <!-- ============================= -->
    <!-- noUiSlider -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js" defer></script>

    <!-- pako for reading gzip JSON -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js" defer></script>

    <!-- Cytoscape -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.30.4/cytoscape.min.js" defer></script>

    <!-- Custom JS -->
    <script type="module" src="./XXX_JS_FILE_NAME.js"></script>
    <script type="module" src="../js/mobile_panel.js"></script>

    <!-- ============================= -->
    <!-- CSS -->
    <!-- ============================= -->
    <link rel="stylesheet" href="https://larc-tsukuba.github.io/tsumugi/css/sanitize.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v6.6.0/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/app.css" />
</head>

<!-- Unique variables:
XXX_TITLE: title of the web page
XXX_JS_FILE_NAME: name of the JS file to be loaded
-->
