<!doctype html>
<html lang="en">
XXX_HEAD

<body>
    XXX_H1

    XXX_BODY_CONTAINER

    <!-- ===================================== -->
    <!-- Export (Desktop only) -->
    <!-- ===================================== -->
    <div class="panel-section export-desktop">
        <div class="panel-title">
            <i class="fa-solid fa-download"></i>
            Export
            <div class="info-tooltip-container">
                <div class="info-tooltip-icon">i</div>
                <div class="info-tooltip-content">
                    GraphML can be used for visualization in other network analysis tools.
                </div>
            </div>
        </div>
        <div class="exporter-group">
            <button class="exporter" id="export-png">
                <i class="fa-regular fa-image"></i>
                PNG
            </button>
            <button class="exporter" id="export-jpg">
                <i class="fa-regular fa-image"></i>
                JPG
            </button>
            <button class="exporter" id="export-csv">
                <i class="fa-regular fa-file-lines"></i>
                CSV
            </button>
            <button class="exporter" id="export-graphml">
                <i class="fa-solid fa-project-diagram"></i>
                GraphML
            </button>
        </div>
    </div>


    <!-- ========================================  -->
    <!-- Footer -->
    <!-- ========================================  -->
    <footer>

        <!-- ========================================  -->
        <!-- Resources Section -->
        <!-- ========================================  -->
        <div class="resources-container">
            <div class="resource-section">
                <div class="resource-buttons">
                    <a class="resource-btn" href="https://github.com/akikuno/TSUMUGI-dev/blob/main/README.md"
                        target="_blank">
                        <i class="fa-regular fa-file-lines"></i> Documentation
                    </a>
                    <a class="resource-btn" href="https://forms.gle/TpLeatthUBLN57PU6" target="_blank">
                        <i class="fa-regular fa-comment-dots"></i> Contact
                    </a>
                </div>
            </div>

        </div>

        <p>TSUMUGI version 0.4.0</p>
        <!-- <p><i class="fa-regular fa-newspaper"></i><a href="https://example.com" target="_blank">Article</a> </p>-->
        <p>
            &copy; 2024
            <a href="https://www.md.tsukuba.ac.jp/LabAnimalResCNT/public_E/index.html" target="_blank">Laboratory Animal
                Resource Center, University of Tsukuba</a>
        </p>
    </footer>

</body>

</html>
