<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XXX_capital_case</title>
    <link rel="icon" type="image/png" href="../../image/icon-tsumugi.png">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link rel="stylesheet" href="../css/normalize.css">

    <!-- Use noUiSlider -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js"></script>

    <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
    <header class="header-container">
        <h1>XXX_capital_case<br>Phenotype Similarity Gene Network </h1>
    </header>

    <div class="body-container">
        <div class="control-panel-container">

            <h2 style="text-align: center;"> Control Panel </h2>

            <div class="slider-container">
                <span class="control-label">Network layout:</span>
                <select id="layout-dropdown">
                    <option value="cose" selected>Cose</option>
                    <option value="circle">Circle</option>
                    <option value="grid">Grid</option>
                    <option value="random">Random</option>
                    <option value="concentric">Concentric</option>
                </select>
            </div>

            <div class="slider-container">
                <span class="control-label" style="display: block;">Similarity of accessory phenotypes:</span>
                <div id="filter-edge-slider" style="display: block; margin-top: 10px;"></div>
                <span id="edge-size-value" style="display: block; margin-top: 5px;">0 - 10</span>
            </div>

            <div class="slider-container">
                <span class="control-label" style="display: block;">Severity of target phenotype:</span>
                <div id="filter-node-slider" style="display: block; margin-top: 10px;"></div>
                <span id="node-color-value" style="display: block; margin-top: 5px;">0 - 10</span>
            </div>


            <!-- ↓↓↓ Cytoscape's visualization setting -->
            <div class="slider-container">
                <span class="control-label">Font size:</span>
                <div id="font-size-slider"></div>
                <span id="font-size-value">20</span>
            </div>

            <div class="slider-container">
                <span class="control-label">Edge width:</span>
                <div id="edge-width-slider"></div>
                <span id="edge-width-value">5</span>
            </div>

            <div class="slider-container">
                <span class="control-label">Node repulsion:</span>
                <div id="nodeRepulsion-slider"></div>
                <span id="node-repulsion-value">5</span>
            </div>

            <button id="export-png">Export PNG</button>
            <!-- ↑↑↑ Cytoscape's visualization setting -->
        </div>

        <div class="cy-container">
            <div class="cy"></div>

            <!-- ↓↓↓ SVG's scale bars -->
            <div class="edge-scale-container">
                <svg width="400" height="30" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="0,15 400,0 400,30" style="fill:gray;stroke:none;" />
                    <text x="0" y="25" font-family="Arial" font-size="12px" fill="#333">Few</text>
                    <text x="370" y="25" font-family="Arial" font-size="12px" fill="#FFF">Many</text>
                </svg>
                <p class="scale-label">Similarity of accessory phenotypes</p>
            </div>

            <div class="color-scale-container">
                <svg width="400" height="30" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="colorGradient" x1="0%" y1="0%" x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color:rgb(248,229,140);stop-opacity:1" />
                            <stop offset="100%" style="stop-color:rgb(255,140,0);stop-opacity:1" />
                        </linearGradient>
                    </defs>
                    <rect x="0" y="0" width="400" height="30" fill="url(#colorGradient)" />
                    <text x="0" y="25" font-family="Arial" font-size="12px" fill="#000">Low</text>
                    <text x="370" y="25" font-family="Arial" font-size="12px" fill="#000">High</text>
                </svg>
                <p class="scale-label">Severity of target phenotype</p>
            </div>
            <!-- ↑↑↑ SVG's scale bars -->
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.30.2/cytoscape.min.js"></script>
    <script src="template.js"></script> <!-- REMOVE_THIS_LINE -->
    <!-- REMOVE_THIS_LINE
    <script src="../js/XXX_snake_case.js"></script>
    REMOVE_THIS_LINE -->
</body>

</html>
