<div class="cy-container">
    <div class="cy"></div>

    <!-- ===================================== -->
    <!-- SVG for phenotypes similarity -->
    <!-- ===================================== -->

    <div class="edge-scale-container">
        <svg viewBox="0 0 400 30" preserveAspectRatio="xMidYMid meet">
            <polygon points="0,15 400,0 400,30" style="fill: gray; stroke: none" />
            <text x="0" y="25" font-family="Arial" font-size="12px" fill="#333">Few</text>
            <text x="370" y="25" font-family="Arial" font-size="12px" fill="#FFF">Many</text>
        </svg>
        <p class="scale-label">Similarity of accessory phenotypes</p>
    </div>

    XXX_PHENOTYPE
</div>

