<!doctype html>
<html lang="en">
XXX_HEAD

<body>
    XXX_H1

    XXX_BODY_CONTAINER

    <!-- ========================================  -->
    <!-- Resources Section -->
    <!-- ========================================  -->
    <div class="resources-container">
        <div class="resource-section">
            <div class="resource-buttons">
                <a class="resource-btn" href="https://github.com/akikuno/TSUMUGI-dev/blob/main/README.md"
                    target="_blank">
                    <i class="fa-regular fa-file-lines"></i> Documentation
                </a>
                <a class="resource-btn" href="https://forms.gle/TpLeatthUBLN57PU6" target="_blank">
                    <i class="fa-regular fa-comment-dots"></i> Inquiry
                </a>
            </div>
        </div>

    </div>

    <!-- ========================================  -->
    <!-- Footer -->
    <!-- ========================================  -->
    <footer>
        <p>TSUMUGI version 0.3.2</p>
        <!-- <p><i class="fa-regular fa-newspaper"></i><a href="https://example.com" target="_blank">Article</a> </p>-->
        <p>
            &copy; 2024
            <a href="https://www.md.tsukuba.ac.jp/LabAnimalResCNT/public_E/index.html" target="_blank">Laboratory Animal
                Resource Center, University of Tsukuba</a>
        </p>
    </footer>

</body>

</html>
